<div class="dropdown" [ngClass]="{'open': isOpen}">
  <button mat-icon-button [disabled]="mainButton.disabled" (click)="selectButton(mainButton)">
    <span *ngIf="displayMainButtonLabel">{{mainButton.name}}</span>
    <mat-icon *ngIf="mainButton.icon">{{mainButton.iconCssClass}}</mat-icon>
  </button>
  <button mat-icon-button [disabled]="mainButton.disabled" [matMenuTriggerFor]="dropdown">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #dropdown="matMenu">
    <div *ngFor="let button of buttons">
      <button  mat-menu-item (click)="selectButton(button)" *ngIf="!button.isDivider()">
        <mat-icon *ngIf="button.icon">{{button.iconCssClass}}</mat-icon>
        <span *ngIf="button.label">{{button.name | translate}}</span>
      </button>
    </div>
  </mat-menu>
</div>
