<div *ngIf="configuration.isMultiSelection" class="file-selection-input">
  <mat-icon class="checked" (click)="unSelectFile()">check_box</mat-icon>
  <mat-icon class="unchecked" (click)="selectFile()">check_box_outline_blank</mat-icon>
</div>
<div class="img-rounded file-img" [ngClass]="{'file-img-symbol': !file.isImage()}"
     [style.background-image]="'url(' + file.thumbnailUrl + ')'"></div>
<span class="file-name">{{file.name}}</span>
<div class="file-menu">
  <div class="actions">
    <button mat-mini-fab color="warn" (click)="deleteFile($event, file)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="default" (click)="openPreview($event)">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab color="default" (click)="openCrop($event)">
      <mat-icon>crop</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="chooseFile($event, file)">
      <mat-icon>photo</mat-icon>
    </button>
  </div>
</div>
